{% extends "minimalist_layout.html" %}

{% block body_class %}dark-mode d-flex h-100 text-center text-white{% endblock %}

{% block title %}
Christian Boland Ross | Home
{% endblock %}

{% block description %}
Christian Boland Ross – Creative portfolio showcasing VFX projects, coding tools, and digital experiments. Discover my latest work and projects.
{% endblock %}

{% block scripts %}
<canvas id="matrix-explosion"></canvas>
<script src="{{ url_for('static', filename='js/matrix_lines.js') }}"></script>
{% endblock %}

{% block main %}
      <h1>3D Visuals and Graphics Programming</h1>

      <p class="lead">Freelance 3D Generalist and Video Editor based out of London<br>Email for business enquiries | christian.ross.26@ucl.ac.uk</p>
      
      <p class="button-container">
        <a href="/coding_portfolio" class="white-btn" style="--bg-color: black; --color: white;">Coding</a>
        <a href="/vfx_portfolio" class="white-btn" style="--bg-color: white; --color: black;">VFX</a>
      </p>
{% endblock %}
